/vendor
/web/core
/web/sites/default/files/*
/web/sites/default/settings.php
/web/sites/default/settings.local.php
/web/sites/default/apigee.settings.key
/web/sites/default/files/php/*
/web/sites/default/files/css/
/web/sites/default/files/js/
/web/sites/default/files/.htaccess
